@using EntityLayer.Concrete
@model List<Seller>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

     <!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mb-1" href="/Home/Index">
                 <img src="~/ReviewMe/ReviewMe/assets/images/yeniLogo.png" style="width:220px; height:45px;">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Home/Index">Ana Sayfa</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active " href="/Content/GetContents">Değerlendirmeler</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/Content/Contact">İletişim</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/#login">Kayıt Ol/Giriş Yap</a>
                    </li>

                </ul>
                <form action="#search" method="GET" class="d-flex search-header ms-lg-2">
                    <input class="form-control" type="search" placeholder="Ara..." aria-label="Search"
                           required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
        
    </div>
</header>
<body>
    <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-5 pb-sm-4 pb-2">
                <h4 class="inner-text-title font-weight-bold pt-5">Arama Sonuçları</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Arama Sonuçları</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->
    <!-- courses section -->
    <section class="w3l-courses py-5" id="courses">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-style text-center">Arama Sonuçları</h3>
            <div class="row justify-content-center ">
                @foreach (var item in Model)
                {
                    
                
                
                    <div class="col-lg-4 col-md-6 item mt-5">
                        <div class="card">
                            <div class="card-header p-0 position-relative">
                                <a href="/Profile/ProfilPage/@item.SellerID" class="zoom d-block">
                                    <img class="card-img-bottom d-block" src= "@item.SellerPhoto" alt="Card image cap">
                                </a>
                            </div>
                            <div class="card-body course-details">
                                <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                    <p>@item.SellerName @item.SellerLastName</p>
                                    
                                    <ul class="rating-star">
                                        @for (var i = 0; i < 4; i++) 
                                        {
                                            <li><span class="fas fa-star"></span></li>
                                        }
                                        
                                    </ul>
                                </div>
                                <a href="/Profile/ProfilPage/@item.SellerID" class="course-desc"><p></p></a>
                                <p>
                                    
                                    @item.Job.JobName
                                    
                                </p>
                                <p>
                                   @item.Job.JobDetails
                                    
                                </p>
                                <p>

                            </div>
                        </div>
                    </div>
                }
                
               
            </div>
        </div>
    </section>
    <!-- //courses section -->
    <!-- content block1 -->
    <section class="w3l-content-block1 py-5" id="login">
        <div class="container py-md-5 py-4">
            <div class="row">
                <div class="col-lg-6 col-md-8 title-content py-md-5">
                    <h3 class="title-style text-white">Kayıt Ol Ve Değerlendir</h3>
                    <div class="mt-5" id="blur">
                        <button id="show-login" onclick="toggle()" class="btn btn-style mt-4">Giriş Yap/Kayıt Ol</button>
                    </div>
                    <div class="popup">
                        <div class="close-btn" onclick="toggle()"><b>X</b></div>
                        <div class="form">
                            <h2>Giriş Yap</h2>
                            <div class="form-element">
                                <label for="email">Email</label>
                                <input type="text" id="email" placeholder="E-postanızı Giriniz">
                                <div class="form-element">
                                    <label for="password">Şifre</label>
                                    <input type="password" id="password" placeholder="Şifrenizi Giriniz">
                                    <div class="form-element">
                                        <a href="#"><button class="btn btn-style mt-4">Giriş Yap</button></a>
                                    </div>
                                    <div class="form-control" style="border: none;">
                                        <a href="#">Kayıt Ol</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   
</body>

</html>



