@using EntityLayer.Concrete
@model List<Content>


@{
    Layout = null;
}


<link href = "~/lib/bootstrap/dist/css/bootstrap.css" rel = "stylesheet"/>
<link rel="icon" type="image/x-icon" href="~/wwwroot/favicon.ico">





<table class = "table table-bordered" >
    <tr>    
        <th>Id</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Atan kişi</th>
        <th>Atılan kişi</th>
        
        <th>Tarih</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContentID</td>
            <td>@item.Title</td>
            <td>@item.ContentText</td>
            <td>@item.UserID</td>
            <td>@item.SellerID</td>
            
            <td><a href="#" class "btn btn-warning">Detaylar</a></td>
            <td><a href="#" class "btn btn-danger">Sil</a></td>
            
            
        </tr>
    }
</table>
<a href="/Content/AddContent" class="btn btn-outline-info">Yeni Content Ekle</a>
<a href="/Content/Search" class="btn btn-outline-info">Ara</a>




