
@model List<EntityLayer.Concrete.Content>

@{
    Layout = null;
}
<link href = "~/lib/bootstrap/dist/css/bootstrap.min.css" rel = "stylesheet"/>
<br />
<br />
@using (Html.BeginForm("Search","Content", FormMethod.Post))
{
    <div>
        <label for="searchResults">Arama:</label>
        <input type="text" id="searchTerm" name="searchTerm" />
        <input type="submit" value="Ara" />
    </div>
}


<h1>Arama Sonuçları</h1>
<br />

<table class = "table table-bordered" >
    <tr>    
        <th>Id</th>
        <th>Başlık</th>
        <th>İçerik</th>
        <th>Atan kişi</th>
        <th>Meslek</th>
        
       

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContentID</td>
            <td>@item.Title</td>
            <td>@item.ContentText</td>
            <td>@item.UserID</td>
            <td>@item.SellerID</td>
            
            
            
            
        </tr>
    }
</table>




