@using EntityLayer.Concrete
@model List<User>


@{
    Layout = null;
}

x   
<link href = "~/lib/bootstrap/dist/css/bootstrap.css" rel = "stylesheet"/>
<table class = "table table-bordered" >
    <tr>    
        <th>Id</th>
        <th>İsim</th>
        <th>Soyisim</th>
        <th>Mail</th>
        <th>Şifre</th>
        <th>Detaylar</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserID</td>
            <td>@item.UserFirstName</td>
            <td>@item.UserLastname</td>
            <td>@item.UserMail</td>
            <td>@item.UserPassword</td>
            <td><a href="#" class "btn btn-warning">Detaylar</a></td>
            <td><a href="#" class "btn btn-danger">Sil</a></td>
            
            
        </tr>
    }
</table>



